[package]
name = "c-ares-resolver"
license = "MIT"
version = "7.1.1"
authors = ["David Hotham"]
description = """
An asynchronous DNS resolver, backed by c-ares.
"""
repository = "https://github.com/dimbleby/c-ares-resolver"
documentation = "https://docs.rs/c-ares-resolver"
readme = "README.md"
keywords = ["DNS", "c-ares", "futures"]
categories = ["asynchronous", "network-programming"]
edition = "2018"

[dependencies]
c-ares = "7.2"
crossbeam-channel = "0.4.3"
futures = "0.3"
polling = "0.1.5"
